@model FribergCarRentals.Models.Car

@{
    ViewData["Title"] = "Radera bil";
}

<h1>Delete</h1>

<h3>Är du säker på att du vill radera denna bilen?</h3>
@if (ViewBag.DeleteCarMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.DeleteCarMessage
    </div>
}
<div>
    <h4>Bildetaljer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Bildlänkar
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageLinks)
        </dd>
        <dt class="col-sm-2">
            Modell
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Pris per dag
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PricePerDay)
        </dd>
        <dt class="col-sm-2">
            Tillgänglig
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Radera</button>
        <a asp-action="List" class="btn btn-secondary">Tillbaka till lista</a>
    </form>
</div>
