@model IEnumerable<FribergCarRentals.Models.Car>


<h1>Bilar</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Skapa ny bil</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Bilder
            </th>
            <th>
                Modell
            </th>
            <th>
                Pris per dag
            </th>
            <th>
                Bil tillgänglig
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @foreach (var imageUrl in item.ImageLinks)
                {
                    <img src="@imageUrl" alt="Bild på bil" class="img-thumbnail" style="max-width: 100px; max-height: 100px;" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
            <td>
                <form asp-action="Edit" asp-route-id="@item.Id" method="get" class="d-inline">
                    <button type="submit" class="btn btn-primary">Ändra</button>
                </form>
                <form asp-action="Details" asp-route-id="@item.Id" method="get" class="d-inline">
                    <button type="submit" class="btn btn-secondary">Detaljer</button>
                </form>
                <form asp-action="Delete" asp-route-id="@item.Id" method="get" class="d-inline">
                    <button type="submit" class="btn btn-danger">Radera</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
