@model FribergCarRentals.ViewModels.CustomerBookingViewModel
<h1>Tack för din bokning!</h1>
<p>Bil: @Model.Car.Name</p>
<p>Startdatum: @Model.Booking.StartDate.ToShortDateString()</p>
<p>Slutdatum: @Model.Booking.EndDate.ToShortDateString()</p>
<p>Totalkostnad: @Model.Booking.TotalCost.ToString("C")</p>
<p>Namn: @Model.Customer.FirstName @Model.Customer.LastName</p>
<p>Email: @Model.Customer.Email</p>