@model FribergCarRentals.ViewModels.CustomerBookingViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detaljer</h1>

<div>
    <h4>Bokning</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Bilmodell
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Name)
        </dd>
        <dt class="col-sm-2">
            Startdatum
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.StartDate)
        </dd>
        <dt class="col-sm-2">
            Slutdatum
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.EndDate)
        </dd>
        <dt class="col-sm-2">
            Bokningen avslutad
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.IsCompleted)
        </dd>
        <dt class="col-sm-2">
            Totalkostnad
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.TotalCost)
        </dd>
        <dt class="col-sm-2">
            Förnamn
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.FirstName)
        </dd>
        <dt class="col-sm-2">
            Efternamn
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.LastName)
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="List">Tillbaka till listan</a>
</div>
