@model IEnumerable<FribergCarRentals.Models.Booking>



<h1>Bokningar</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Startdatum
            </th>
            <th>
                Slutdatum
            </th>
            <th>
                Totalkostnad
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>
                    <form asp-action="Details" asp-route-id="@item.Id" method="get" class="d-inline">
                        <button type="submit" class="btn btn-secondary">Detaljer</button>
                    </form>
                    <form asp-action="Delete" asp-route-id="@item.Id" method="get" class="d-inline">
                        <button type="submit" class="btn btn-danger">Radera</button>
                    </form>
            </td>
        </tr>
}
    </tbody>
</table>
