@model FribergCarRentals.Models.Customer

<h1>Radera kund</h1>

<h3>Är du säker på att du vill radera denna kunden?</h3>
@if (ViewBag.DeleteCustomerMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.DeleteCustomerMessage
    </div>
}
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Förnamn
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            Efternamn
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            Email
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            Lösenord
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Radera" class="btn btn-danger" /> |
        <a asp-action="Index">Tillbaka till listan</a>
    </form>
</div>
