@model IEnumerable<FribergCarRentals.Models.Customer>



<h1>Kunder</h1>

<p>
    <a asp-action="Create">Skapa ny kund</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Förnamn
            </th>
            <th>
                Efternamn
            </th>
            <th>
                Email
            </th>
            <th>
                Lösenord
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Ändra</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Radera</a>
            </td>
        </tr>
}
    </tbody>
</table>
