@model IEnumerable<FribergCarRentals.Models.Customer>



<h1>Kunder</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Skapa ny kund</a>
</p>
@if (ViewBag.DeleteCustomerMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.DeleteCustomerMessage
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Förnamn
            </th>
            <th>
                Efternamn
            </th>
            <th>
                Email
            </th>
            <th>
                Lösenord
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
               ********
            </td>
            <td>
                    <form asp-action="Edit" asp-route-id="@item.Id" method="get" class="d-inline">
                        <button type="submit" class="btn btn-primary">Ändra</button>
                    </form>
                    <form asp-action="Details" asp-route-id="@item.Id" method="get" class="d-inline">
                        <button type="submit" class="btn btn-secondary">Detaljer</button>
                    </form>
                    <form asp-action="Delete" asp-route-id="@item.Id" method="get" class="d-inline">
                        <button type="submit" class="btn btn-danger">Radera</button>
                    </form>
            </td>
        </tr>
}
    </tbody>
</table>
